// Place all the styles related to the Documents controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap/variables.scss";
@import "bootstrap";

#document-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 98%;
}
